<div class="row">
  <div class="col-md-12">
    <div
      ba-panel
      ba-panel-title="Voucher Printer Settings"
      ba-panel-class="with-scroll"
      class="natfixer"
      >
      <form name='form' ng-submit="submit()">
        <div class="row">
          <div class="col-md-8">
            <label>Printable Voucher Template:</label>
            <textarea name="content" class="form-control" ng-model="$parent.content" rows="15"></textarea>
          </div>
          <div class="col-md-2">
            <br/>
            <label>Preview (With QR):</label>
            <br/>
            <div ng-bind-html="$parent.previewVoucherQR()"></div>
          </div>

          <div class="col-md-2">
            <br/>
            <label>Preview (No QR):</label>
            <br/>
            <div ng-bind-html="$parent.previewVoucher()"></div>
          </div>
        </div>
        <br/>
        <button type="submit" ng-disabled="form.$invalid" ladda="$parent.saving" class="btn btn-primary">Save Changes</button>
        &nbsp;or&nbsp;
        <a ng-click="$parent.resetSettings()">Reset to default</a>
      </form>
    </div>
  </div>
</div>
